@page
@model CanvassHelp.Pages.Residents.DetailsModel

@{
    ViewData["Title"] = "Resident Details";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
    <h2>Residents</h2>
</div>

<div class="album py-5 bg-light">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4>Resident Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        <h6><b>First Name(s):</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.FirstNames)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Middle Name(s):</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.MiddleNames)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Last Name(s):</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.LastNames)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Email Address:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.Email)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Mobile Number:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.MobileNumber)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Voting Intention:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.VoteIntention)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Likelihood:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.Likelihood)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Additional Information:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.Information)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Contact Preference:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.ContactPreference)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Last Contacted:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>@Html.DisplayFor(model => model.Resident.LastContacted)</h6>
                    </dd>
                    <dt class="col-sm-4">
                        <h6><b>Address:</b></h6>
                    </dt>
                    <dd class="col-sm-8">
                        <h6>
                            @Html.DisplayFor(model => model.Resident.Address.HouseName)
                            @Html.DisplayFor(model => model.Resident.Address.HouseNumber)
                            @Html.DisplayFor(model => model.Resident.Address.StreetName)
                            @Html.DisplayFor(model => model.Resident.Address.PostTown)
                            @Html.DisplayFor(model => model.Resident.Address.Postcode)
                        </h6>
                    </dd>
                </dl>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary shadow" asp-page="./Edit" asp-route-id="@Model.Resident.ResidentId"
                   style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin: 5px">Edit</a>
                <br />
                <a class="btn btn-primary shadow" asp-page="./Index"
                   style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin: 5px">Return to List</a>
                <br />
                <a class="btn btn-primary shadow" role="button" href="/Admin"
                   style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin: 5px">Admin Portal</a>
            </div>
        </div>
    </div>
</div>