@page
@model CanvassHelp.Pages.Residents.DetailsModel

@{
    ViewData["Title"] = "Resident Details";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
    <h2>Residents</h2>
</div>

<div>
    <h4>Resident Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name(s):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.FirstNames)
        </dd>
        <dt class="col-sm-2">
            Middle Name(s):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.MiddleNames)
        </dd>
        <dt class="col-sm-2">
            Last Name(s):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.LastNames)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.Email)
        </dd>
        <dt class="col-sm-2">
            Mobile Number:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            Voting Intention:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.VoteIntention)
        </dd>
        <dt class="col-sm-2">
            Likelihood:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.Likelihood)
        </dd>
        <dt class="col-sm-2">
            Additional Information:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.Information)
        </dd>
        <dt class="col-sm-2">
            Contact Preference:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.ContactPreference)
        </dd>
        <dt class="col-sm-2">
            Last Contacted:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.LastContacted)
        </dd>
        <dt class="col-sm-2">
            Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resident.Address.HouseName)
            @Html.DisplayFor(model => model.Resident.Address.HouseNumber)
            @Html.DisplayFor(model => model.Resident.Address.StreetName)
            @Html.DisplayFor(model => model.Resident.Address.PostTown)
            @Html.DisplayFor(model => model.Resident.Address.Postcode)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Resident.ResidentId">Edit</a> |
    <a class="btn btn-secondary" asp-page="./Index">Return to List</a> |
    <a class="btn btn-primary shadow" role="button" href="/Admin"
       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Admin Portal</a>
</div>
