@page
@model CanvassHelp.Pages.Residents.IndexModel

@{
    ViewData["Title"] = "Residents";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
    <h2>Residents</h2>
</div>

<p>
    <a class="btn btn-primary shadow" asp-page="Create" 
        style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Add New Resident</a>
</p>
<div class="btn-group">
    <a class="btn btn-primary shadow" asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin:5px;">Order By Last Name</a>
    <a class="btn btn-primary shadow" asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin:5px;">Order By Last Contact Date</a>
</div>
<br />
<br />
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By Resident Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary shadow"
                   style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin:5px;" />
            <a class="btn btn-primary shadow" asp-page="./ResidentInput"
               style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin:5px;">Back to Full List</a>
        </p>
    </div>
</form>

<div class="album py-5 bg-light">
    <div class="container text-center">
        <div class="row justify-content-center">
            @foreach (var voter in Model.Resident)
            {
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow">
                        <div class="card-body">
                            <h4 class="card-text">@voter.FirstNames @voter.LastNames</h4>
                            <h6 class="card-text">
                                <b>Address: </b>
                                @voter.Address.HouseNumber
                                @voter.Address.StreetName
                                @voter.Address.Postcode
                            </h6>
                            <h6 class="card-text"><b>Last Contacted: </b>@voter.LastContacted</h6>
                            <h6 class="card-text"><b>Last Voting Intention: </b>@voter.VoteIntention</h6>
                            <h6 class="card-text"><b>Contact Preference: </b>@voter.ContactPreference</h6>
                            <img src=""/>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary shadow" asp-page="./Details" asp-route-id="@voter.ResidentId"
                                       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin: 5px">Details</a>
                                    <br />
                                    <a class="btn btn-primary shadow" asp-page="./Edit" asp-route-id="@voter.ResidentId"
                                       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin: 5px">Edit</a>
                                    <br />
                                    <a class="btn btn-primary shadow" asp-page="./Delete" asp-route-id="@voter.ResidentId"
                                       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);margin: 5px">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>