@page
@model CanvassHelp.Pages.Addresses.DetailsModel

@{
    ViewData["Title"] = "Address Details";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
    <h2>Residents</h2>
</div>

<div>
    <h4>Address Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.HouseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.HouseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.HouseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.HouseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostTown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Grouping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Grouping.GroupingId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Address.AddressId">Edit Address</a> |
    <a class="btn btn-secondary" asp-page="./Index">Return to List</a> |
    <a class="btn btn-primary shadow" role="button" href="/Admin"
       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Admin Portal</a>
</div>
