@page
@model CanvassHelp.Pages.Addresses.IndexModel

@{
    ViewData["Title"] = "Addresses";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
    <h2>Addresses</h2>
</div>

<p>
    <a class="btn btn-primary shadow" asp-page="Create"
       style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Add New Address</a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                <h5>Address ID</h5>
            </th>
            <th>
                <h5>House Name</h5>
            </th>
            <th>
                <h5>House Number</h5>
            </th>
            <th>
                <h5>Street Name</h5>
            </th>
            <th>
                <h5>Post Town</h5>
            </th>
            <th>
                <h5>Postcode</h5>
            </th>
            <th>
                <h5>Group ID</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Address) {
                <tr>
                    <h4>@Html.DisplayFor(modelItem => item.HouseName)</h4>
                    <h4>@Html.DisplayFor(modelItem => item.HouseNumber) @Html.DisplayFor(modelItem => item.StreetName)</h4>
                    <h6>@Html.DisplayFor(modelItem => item.PostTown), @Html.DisplayFor(modelItem => item.Postcode)</h6>
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.AddressId">Address Details</a> |
                    <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@item.AddressId">Edit Address</a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.AddressId">Remove Address</a>
                </tr>
                    <br />
                    <br />
        }
    </tbody>
</table>